.product-details {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  min-width: 400px;
  gap: 15px;
  padding-inline: 12px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  margin-block: 6px;
  list-style: none;
}

.product-details > h4,
.product-details > p {
  padding-inline: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1); /* Faint vertical separator */
}

.button-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

