<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <label for="productName"
      >Product Name <span class="required-span">*</span> @if
      (isInvalid('productName')) {<span class="validation-error"
        >product name is required and must be at least 3 characters</span
      >}
    </label>
    <input
      type="text"
      id="productName"
      name="productName"
      placeholder="Enter product name"
      formControlName="productName"
      required
    />
  </div>

  <div class="input-container">
    <label for="quantity"
      >Quantity <span class="required-span">*</span> @if (isInvalid('quantity'))
      {<span class="validation-error"
        >quantity is required and must be at least 1</span
      >}
    </label>
    <input
      type="number"
      id="quantity"
      name="quantity"
      placeholder="Enter quantity"
      formControlName="quantity"
      min="0"
      required
    />
  </div>

  <div class="input-container">
    <label for="price"
      >Price <span class="required-span">*</span> @if (isInvalid('price'))
      {<span class="validation-error"
        >price is required and must be at least £0.01</span
      >}
    </label>
    <input
      type="number"
      id="price"
      name="price"
      placeholder="Enter price"
      formControlName="price"
      step="0.01"
      min="0.00"
      required
    />
  </div>

  <button type="submit">Confirm</button>
</form>
