form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

label {
  font-weight: bold;
  padding-left: 2px;
}

input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-block: 4px;
}

button {
  background-color: #5a8d45;
  color: white;
  max-width: 120px;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #476838;
}

button:disabled {
  background-color: #b0bec5; /* Light gray-blue */
  color: #ffffff; /* White text */
  cursor: not-allowed;
  opacity: 0.6;
  border: 1px solid #90a4ae;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.required-span {
  color: red;
  font-style: italic;
}

.validation-error {
  padding-left: 6px;
  color: red;
  font-style: italic;
  font-weight: lighter;
}

.flash-error {
  animation: flash 0.5s ease-in-out 3;
}

@keyframes flash {
  0%,
  100% {
    border-color: #ccc;
  }
  50% {
    border-color: rgba(206, 0, 0, 0.847);
  }
}
